.product-filter {
  margin-left: auto;
}
.product-filter__inactive {
  color: #aaa;
}
.product-pagination {
  margin-left: auto;
  margin-right: auto;
}
.product-card {
  padding: 5px;
  .card {
    border: none;
    box-shadow: 0px 0px 3px 1px #ddd;
    border-radius: 0;
  }
}

.product-card__img {
  display: flex;
  align-items: center;
  img {
    width: 70px;
    height: 100px;
    margin: 0 auto;
  }
}
.product-card__txt {
  background: #eee;
}
.page-link {
    color: #222;
}
.page-item.active .page-link {
    background-color: #222;
    border-color: #222;
}